---
swagger: "2.0"
info:
  version: "20.8"
  title: "Aspose.Cells Cloud SDK APIs."
host: "api.aspose.cloud"
basePath: "/v3.0"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /cells/{name}/worksheets/{sheetName}/charts/{chartIndex}/chartArea/border:
    get:
      tags:
      - "Cells"
      summary: "Get chart area border info."
      operationId: "CellsChartArea_GetChartAreaBorder"
      parameters:
      - name: "name"
        in: "path"
        description: "Workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "chartIndex"
        in: "path"
        description: "The chart index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "ChartIndex"
      - name: "folder"
        in: "query"
        description: "Workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with the border line data."
          schema:
            $ref: "#/definitions/LineResponse"
          x-nullable: true
      x-operationId: "CellsChartArea_GetChartAreaBorder"
  /cells/{name}/worksheets/{sheetName}/cells:
    get:
      tags:
      - "Cells"
      summary: "Get cells info."
      operationId: "Cells_GetWorksheetCells"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "offest"
        in: "query"
        description: "Begginig offset."
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-nullable: false
        x-exportParamName: "Offest"
        x-optionalDataType: "Int64"
      - name: "count"
        in: "query"
        description: "Maximum amount of cells in the response."
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-nullable: false
        x-exportParamName: "Count"
        x-optionalDataType: "Int64"
      - name: "folder"
        in: "query"
        description: "Document's folder name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with cells data."
          schema:
            $ref: "#/definitions/CellsResponse"
          x-nullable: true
      x-operationId: "Cells_GetWorksheetCells"
    post:
      tags:
      - "Cells"
      summary: "Set cell range value "
      operationId: "Cells_PostSetCellRangeValue"
      parameters:
      - name: "name"
        in: "path"
        description: "Workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "cellarea"
        in: "query"
        description: "Cell area (like \"A1:C2\")"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Cellarea"
      - name: "value"
        in: "query"
        description: "Range value"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Value"
      - name: "type"
        in: "query"
        description: "Value data type (like \"int\")"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Type_"
      - name: "folder"
        in: "query"
        description: "Folder name"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostSetCellRangeValue"
  /cells/{name}/worksheets/{sheetName}/cells/columns/ungroup:
    post:
      tags:
      - "Cells"
      summary: "Ungroup worksheet columns."
      operationId: "Cells_PostUngroupWorksheetColumns"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "firstIndex"
        in: "query"
        description: "The first column index to be operated."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FirstIndex"
      - name: "lastIndex"
        in: "query"
        description: "The last column index to be operated."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "LastIndex"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostUngroupWorksheetColumns"
  /cells/{name}/protection:
    post:
      tags:
      - "Cells"
      summary: "Protect document."
      operationId: "CellsWorkbook_PostProtectDocument"
      parameters:
      - name: "name"
        in: "path"
        description: "The document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - in: "body"
        name: "protection"
        description: "The protection settings."
        required: false
        schema:
          $ref: "#/definitions/WorkbookProtectionRequest"
        x-nullable: true
        x-exportParamName: "Protection"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Universal operation result."
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsWorkbook_PostProtectDocument"
    delete:
      tags:
      - "Cells"
      summary: "Unprotect document."
      operationId: "CellsWorkbook_DeleteUnprotectDocument"
      parameters:
      - name: "name"
        in: "path"
        description: "The document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - in: "body"
        name: "protection"
        description: "Protection settings, only password can be specified."
        required: false
        schema:
          $ref: "#/definitions/WorkbookProtectionRequest"
        x-nullable: true
        x-exportParamName: "Protection"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Universaloperation result."
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsWorkbook_DeleteUnprotectDocument"
  /cells/{name}/worksheets/{sheetName}/pictures/{pictureIndex}:
    get:
      tags:
      - "Cells"
      summary: "GRead worksheet picture by number."
      operationId: "CellsPictures_GetWorksheetPicture"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pictureIndex"
        in: "path"
        description: "The picture index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PictureIndex"
      - name: "format"
        in: "query"
        description: "The exported object format."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Picture info or conversion result if format is specified."
          schema:
            type: "file"
          x-nullable: true
      x-operationId: "CellsPictures_GetWorksheetPicture"
      x-binary-result: "true"
    post:
      tags:
      - "Cells"
      summary: "Update worksheet picture by index."
      operationId: "CellsPictures_PostWorksheetPicture"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pictureIndex"
        in: "path"
        description: "The picture's index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PictureIndex"
      - in: "body"
        name: "picture"
        description: "Picture object"
        required: false
        schema:
          $ref: "#/definitions/Picture"
        x-nullable: true
        x-exportParamName: "Picture"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with picture data."
          schema:
            $ref: "#/definitions/PictureResponse"
          x-nullable: true
      x-operationId: "CellsPictures_PostWorksheetPicture"
    delete:
      tags:
      - "Cells"
      summary: "Delete a picture object in worksheet"
      operationId: "CellsPictures_DeleteWorksheetPicture"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worsheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pictureIndex"
        in: "path"
        description: "Picture index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PictureIndex"
      - name: "folder"
        in: "query"
        description: "The workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPictures_DeleteWorksheetPicture"
  /cells/{name}/worksheets/{sheetName}/ranges/unmerge:
    post:
      tags:
      - "Cells"
      summary: "Unmerges merged cells of this range.\n            "
      operationId: "CellsRanges_PostWorksheetCellsRangeUnmerge"
      parameters:
      - name: "name"
        in: "path"
        description: "workbook name"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "worksheet name"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - in: "body"
        name: "range"
        description: "range in worksheet "
        required: false
        schema:
          $ref: "#/definitions/Range"
        x-nullable: true
        x-exportParamName: "Range_"
      - name: "folder"
        in: "query"
        description: "Workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsRanges_PostWorksheetCellsRangeUnmerge"
  /cells/{name}/worksheets/{sheetName}:
    get:
      tags:
      - "Cells"
      summary: "Read worksheet info or export."
      operationId: "CellsWorksheets_GetWorksheet"
      parameters:
      - name: "name"
        in: "path"
        description: "The document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "format"
        in: "query"
        description: "The exported file format."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      - name: "verticalResolution"
        in: "query"
        description: "Image vertical resolution."
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-nullable: true
        x-exportParamName: "VerticalResolution"
        x-optionalDataType: "Int64"
      - name: "horizontalResolution"
        in: "query"
        description: "Image horizontal resolution."
        required: false
        type: "integer"
        default: 0
        format: "int64"
        x-nullable: true
        x-exportParamName: "HorizontalResolution"
        x-optionalDataType: "Int64"
      - name: "area"
        in: "query"
        description: "Exported area."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Area"
        x-optionalDataType: "String"
      - name: "pageIndex"
        in: "query"
        description: "Exported page index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "PageIndex"
        x-optionalDataType: "Int32"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "Worsheet info or export result if format is specified."
          schema:
            type: "file"
          x-nullable: true
      x-operationId: "CellsWorksheets_GetWorksheet"
      x-binary-result: "true"
    post:
      tags:
      - "Cells"
      summary: "Update worksheet property"
      operationId: "CellsWorksheets_PostUpdateWorksheetProperty"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - in: "body"
        name: "sheet"
        required: false
        schema:
          $ref: "#/definitions/Worksheet"
        x-nullable: true
        x-exportParamName: "Sheet"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/WorksheetResponse"
          x-nullable: true
      x-operationId: "CellsWorksheets_PostUpdateWorksheetProperty"
    put:
      tags:
      - "Cells"
      summary: "Add new worksheet."
      operationId: "CellsWorksheets_PutAddNewWorksheet"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The new sheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "position"
        in: "query"
        description: "The new sheet position."
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "Position"
        x-optionalDataType: "Int64"
      - name: "sheettype"
        in: "query"
        description: "The new sheet type."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Sheettype"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        description: "Document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "as updated worksheets info."
          schema:
            $ref: "#/definitions/WorksheetsResponse"
          x-nullable: true
      x-operationId: "CellsWorksheets_PutAddNewWorksheet"
    delete:
      tags:
      - "Cells"
      summary: "Delete worksheet."
      operationId: "CellsWorksheets_DeleteWorksheet"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with updated data."
          schema:
            $ref: "#/definitions/WorksheetsResponse"
          x-nullable: true
      x-operationId: "CellsWorksheets_DeleteWorksheet"
  /cells/{name}/settings:
    get:
      tags:
      - "Cells"
      summary: "Get Workbook Settings DTO"
      operationId: "CellsWorkbook_GetWorkbookSettings"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with workbook setting info."
          schema:
            $ref: "#/definitions/WorkbookSettingsResponse"
          x-nullable: true
      x-operationId: "CellsWorkbook_GetWorkbookSettings"
    post:
      tags:
      - "Cells"
      summary: "Update Workbook setting "
      operationId: "CellsWorkbook_PostWorkbookSettings"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - in: "body"
        name: "settings"
        description: "Workbook Setting DTO"
        required: false
        schema:
          $ref: "#/definitions/WorkbookSettings"
        x-nullable: true
        x-exportParamName: "Settings"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "response with status code."
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsWorkbook_PostWorkbookSettings"
  /cells/{name}/worksheets/{sheetName}/mergedCells/{mergedCellIndex}:
    get:
      tags:
      - "Cells"
      summary: "Get worksheet merged cell by its index."
      operationId: "CellsWorksheets_GetWorksheetMergedCell"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "mergedCellIndex"
        in: "path"
        description: "Merged cell index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "MergedCellIndex"
      - name: "folder"
        in: "query"
        description: "Document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with merged cell info."
          schema:
            $ref: "#/definitions/MergedCellResponse"
          x-nullable: true
      x-operationId: "CellsWorksheets_GetWorksheetMergedCell"
  /cells/{name}/worksheets/{sheetName}/mergedCells:
    get:
      tags:
      - "Cells"
      summary: "Get worksheet merged cells."
      operationId: "CellsWorksheets_GetWorksheetMergedCells"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The workseet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "folder"
        in: "query"
        description: "Document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with merged cells info."
          schema:
            $ref: "#/definitions/MergedCellsResponse"
          x-nullable: true
      x-operationId: "CellsWorksheets_GetWorksheetMergedCells"
  /cells/{name}/worksheets/{sheetName}/listobjects/{listobjectindex}:
    get:
      tags:
      - "Cells"
      summary: "Get worksheet list object info by index."
      operationId: "CellsListObjects_GetWorksheetListObject"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "listobjectindex"
        in: "path"
        description: "list object index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Listobjectindex"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with common list object info."
          schema:
            $ref: "#/definitions/ListObjectResponse"
          x-nullable: true
      x-operationId: "CellsListObjects_GetWorksheetListObject"
  /cells/{name}/importdata:
    post:
      tags:
      - "Cells"
      operationId: "CellsWorkbook_PostImportData"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      - in: "body"
        name: "importData"
        required: true
        schema:
          $ref: "#/definitions/ImportOption"
        x-exportParamName: "ImportData"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsWorkbook_PostImportData"
  /cells/{name}/worksheets/{sheetName}/cells/rows/copy:
    post:
      tags:
      - "Cells"
      summary: "Copy worksheet rows."
      operationId: "Cells_PostCopyWorksheetRows"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "sourceRowIndex"
        in: "query"
        description: "Source row index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "SourceRowIndex"
      - name: "destinationRowIndex"
        in: "query"
        description: "Destination row index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "DestinationRowIndex"
      - name: "rowNumber"
        in: "query"
        description: "The copied row number"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "RowNumber"
      - name: "worksheet"
        in: "query"
        description: "worksheet"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Worksheet"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostCopyWorksheetRows"
  /cells/{name}/merge:
    post:
      tags:
      - "Cells"
      summary: "Merge workbooks."
      operationId: "CellsWorkbook_PostWorkbooksMerge"
      parameters:
      - name: "name"
        in: "path"
        description: "Workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "mergeWith"
        in: "query"
        description: "The workbook to merge with."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "MergeWith"
      - name: "folder"
        in: "query"
        description: "Source workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with updated workbook info."
          schema:
            $ref: "#/definitions/WorkbookResponse"
          x-nullable: true
      x-operationId: "CellsWorkbook_PostWorkbooksMerge"
  /cells/{name}/worksheets/{sheetName}/cells/columns/hide:
    post:
      tags:
      - "Cells"
      summary: "Hide worksheet columns."
      operationId: "Cells_PostHideWorksheetColumns"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "startColumn"
        in: "query"
        description: "The begin column index to be operated."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "StartColumn"
      - name: "totalColumns"
        in: "query"
        description: "Number of columns to be operated."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "TotalColumns"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostHideWorksheetColumns"
  /cells/convert:
    put:
      tags:
      - "Cells"
      summary: "Convert workbook from request content to some format."
      operationId: "CellsWorkbook_PutConvertWorkbook"
      consumes:
      - "multipart/form-data"
      parameters:
      - name: "format"
        in: "query"
        description: "The format to convert."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Format"
        x-optionalDataType: "String"
      - name: "password"
        in: "query"
        description: "The workbook password."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Password"
        x-optionalDataType: "String"
      - name: "outPath"
        in: "query"
        description: "Path to save result"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "OutPath"
        x-optionalDataType: "String"
      - name: "workbook"
        in: "formData"
        required: true
        type: "file"
        x-exportParamName: "Workbook"
      responses:
        200:
          description: "Conversion result."
          schema:
            type: "file"
          x-nullable: true
      x-operationId: "CellsWorkbook_PutConvertWorkbook"
      x-binary-result: "true"
  /cells/{name}/worksheets/{sheetName}/hyperlinks/{hyperlinkIndex}:
    get:
      tags:
      - "Cells"
      summary: "Get worksheet hyperlink by index."
      operationId: "CellsHypelinks_GetWorksheetHyperlink"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "hyperlinkIndex"
        in: "path"
        description: "The hyperlink's index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "HyperlinkIndex"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with hyperlink data."
          schema:
            $ref: "#/definitions/HyperlinkResponse"
          x-nullable: true
      x-operationId: "CellsHypelinks_GetWorksheetHyperlink"
    post:
      tags:
      - "Cells"
      summary: "Update worksheet hyperlink by index."
      operationId: "CellsHypelinks_PostWorksheetHyperlink"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "hyperlinkIndex"
        in: "path"
        description: "The hyperlink's index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "HyperlinkIndex"
      - in: "body"
        name: "hyperlink"
        description: "Hyperlink object"
        required: false
        schema:
          $ref: "#/definitions/Hyperlink"
        x-nullable: true
        x-exportParamName: "Hyperlink"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with hyperlink data."
          schema:
            $ref: "#/definitions/HyperlinkResponse"
          x-nullable: true
      x-operationId: "CellsHypelinks_PostWorksheetHyperlink"
    delete:
      tags:
      - "Cells"
      summary: "Delete worksheet hyperlink by index."
      operationId: "CellsHypelinks_DeleteWorksheetHyperlink"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "hyperlinkIndex"
        in: "path"
        description: "The hyperlink's index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "HyperlinkIndex"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with hyperlink data."
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsHypelinks_DeleteWorksheetHyperlink"
  /cells/{name}/worksheets/{sheetName}/cells/columns/copy:
    post:
      tags:
      - "Cells"
      summary: "Copy worksheet columns."
      operationId: "Cells_PostCopyWorksheetColumns"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "sourceColumnIndex"
        in: "query"
        description: "Source column index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "SourceColumnIndex"
      - name: "destinationColumnIndex"
        in: "query"
        description: "Destination column index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "DestinationColumnIndex"
      - name: "columnNumber"
        in: "query"
        description: "The copied column number"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "ColumnNumber"
      - name: "worksheet"
        in: "query"
        description: "The Worksheet"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Worksheet"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostCopyWorksheetColumns"
  /cells/{name}/worksheets/{sheetName}/conditionalFormattings/{index}:
    get:
      tags:
      - "Cells"
      summary: "Get conditional formatting"
      operationId: "CellsConditionalFormattings_GetWorksheetConditionalFormatting"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "index"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Index"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ConditionalFormattingResponse"
          x-nullable: true
      x-operationId: "CellsConditionalFormattings_GetWorksheetConditionalFormatting"
    put:
      tags:
      - "Cells"
      summary: "Add a format condition."
      operationId: "CellsConditionalFormattings_PutWorksheetFormatCondition"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "index"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Index"
      - name: "cellArea"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "CellArea"
      - name: "type"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Type_"
      - name: "operatorType"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "OperatorType"
      - name: "formula1"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Formula1"
      - name: "formula2"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Formula2"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsConditionalFormattings_PutWorksheetFormatCondition"
    delete:
      tags:
      - "Cells"
      summary: "Remove conditional formatting"
      operationId: "CellsConditionalFormattings_DeleteWorksheetConditionalFormatting"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "index"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Index"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsConditionalFormattings_DeleteWorksheetConditionalFormatting"
  /cells/{name}/worksheets/{sheetName}/horizontalpagebreaks/{index}:
    get:
      tags:
      - "Cells"
      operationId: "CellsPageBreaks_GetHorizontalPageBreak"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "index"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Index"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/HorizontalPageBreakResponse"
          x-nullable: true
      x-operationId: "CellsPageBreaks_GetHorizontalPageBreak"
    delete:
      tags:
      - "Cells"
      operationId: "CellsPageBreaks_DeleteHorizontalPageBreak"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "index"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Index"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPageBreaks_DeleteHorizontalPageBreak"
  /cells/{name}/worksheets/{sheetName}/horizontalpagebreaks:
    get:
      tags:
      - "Cells"
      operationId: "CellsPageBreaks_GetHorizontalPageBreaks"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/HorizontalPageBreaksResponse"
          x-nullable: true
      x-operationId: "CellsPageBreaks_GetHorizontalPageBreaks"
    put:
      tags:
      - "Cells"
      operationId: "CellsPageBreaks_PutHorizontalPageBreak"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "cellname"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Cellname"
        x-optionalDataType: "String"
      - name: "row"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "Row"
        x-optionalDataType: "Int64"
      - name: "column"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "Column"
        x-optionalDataType: "Int64"
      - name: "startColumn"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "StartColumn"
        x-optionalDataType: "Int64"
      - name: "endColumn"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "EndColumn"
        x-optionalDataType: "Int64"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPageBreaks_PutHorizontalPageBreak"
    delete:
      tags:
      - "Cells"
      operationId: "CellsPageBreaks_DeleteHorizontalPageBreaks"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "row"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "Row"
        x-optionalDataType: "Int64"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPageBreaks_DeleteHorizontalPageBreaks"
  /cells/{name}/worksheets/{sheetName}/listobjects/{listObjectIndex}/SummarizeWithPivotTable:
    post:
      tags:
      - "Cells"
      operationId: "CellsListObjects_PostWorksheetListObjectSummarizeWithPivotTable"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "listObjectIndex"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "ListObjectIndex"
      - name: "destsheetName"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "DestsheetName"
      - in: "body"
        name: "request"
        required: false
        schema:
          $ref: "#/definitions/CreatePivotTableRequest"
        x-nullable: true
        x-exportParamName: "Request"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsListObjects_PostWorksheetListObjectSummarizeWithPivotTable"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}:
    post:
      tags:
      - "Cells"
      summary: "Set cell value."
      operationId: "Cells_PostWorksheetCellSetValue"
      parameters:
      - name: "name"
        in: "path"
        description: "The document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "cellName"
        in: "path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "CellName"
      - name: "value"
        in: "query"
        description: "The cell value."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Value"
        x-optionalDataType: "String"
      - name: "type"
        in: "query"
        description: "The value type."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Type_"
        x-optionalDataType: "String"
      - name: "formula"
        in: "query"
        description: "Formula for cell"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Formula"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with the cell updated data."
          schema:
            $ref: "#/definitions/CellResponse"
          x-nullable: true
      x-operationId: "Cells_PostWorksheetCellSetValue"
  /cells/{name}/worksheets/{sheetName}/autoFilter/filter:
    put:
      tags:
      - "Cells"
      summary: "Adds a filter for a filter column.\n            "
      operationId: "CellsAutoFilter_PutWorksheetFilter"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "range"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Range_"
      - name: "fieldIndex"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FieldIndex"
      - name: "criteria"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Criteria"
      - name: "matchBlanks"
        in: "query"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "MatchBlanks"
        x-optionalDataType: "Bool"
      - name: "refresh"
        in: "query"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "Refresh"
        x-optionalDataType: "Bool"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsAutoFilter_PutWorksheetFilter"
    delete:
      tags:
      - "Cells"
      summary: "Delete a filter for a filter column.\n            "
      operationId: "CellsAutoFilter_DeleteWorksheetFilter"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "fieldIndex"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FieldIndex"
      - name: "criteria"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Criteria"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsAutoFilter_DeleteWorksheetFilter"
  /cells/{name}/worksheets/{sheetName}/ranges/outlineBorder:
    post:
      tags:
      - "Cells"
      summary: "Sets outline border around a range of cells."
      operationId: "CellsRanges_PostWorksheetCellsRangeOutlineBorder"
      parameters:
      - name: "name"
        in: "path"
        description: "workbook name"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "worksheet name"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - in: "body"
        name: "rangeOperate"
        description: "Range Set OutlineBorder Request "
        required: false
        schema:
          $ref: "#/definitions/RangeSetOutlineBorderRequest"
        x-nullable: true
        x-exportParamName: "RangeOperate"
      - name: "folder"
        in: "query"
        description: "Workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsRanges_PostWorksheetCellsRangeOutlineBorder"
  /cells/{name}/worksheets/{sheetName}/autoFilter/dynamicFilter:
    put:
      tags:
      - "Cells"
      operationId: "CellsAutoFilter_PutWorksheetDynamicFilter"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "range"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Range_"
      - name: "fieldIndex"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FieldIndex"
      - name: "dynamicFilterType"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "DynamicFilterType"
      - name: "matchBlanks"
        in: "query"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "MatchBlanks"
        x-optionalDataType: "Bool"
      - name: "refresh"
        in: "query"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "Refresh"
        x-optionalDataType: "Bool"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsAutoFilter_PutWorksheetDynamicFilter"
  /cells/{name}/worksheets/{sheetName}/oleobjects/{oleObjectIndex}:
    post:
      tags:
      - "Cells"
      summary: "Update OLE object."
      operationId: "CellsOleObjects_PostUpdateWorksheetOleObject"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worsheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "oleObjectIndex"
        in: "path"
        description: "Ole object index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "OleObjectIndex"
      - in: "body"
        name: "ole"
        description: "Ole Object"
        required: false
        schema:
          $ref: "#/definitions/OleObject"
        x-nullable: true
        x-exportParamName: "Ole"
      - name: "folder"
        in: "query"
        description: "The workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsOleObjects_PostUpdateWorksheetOleObject"
    delete:
      tags:
      - "Cells"
      summary: "Delete OLE object."
      operationId: "CellsOleObjects_DeleteWorksheetOleObject"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worsheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "oleObjectIndex"
        in: "path"
        description: "Ole object index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "OleObjectIndex"
      - name: "folder"
        in: "query"
        description: "The workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsOleObjects_DeleteWorksheetOleObject"
  /cells/{name}/worksheets/{sheetName}/pivottables/{pivotTableIndex}/Format:
    post:
      tags:
      - "Cells"
      summary: "Update cell style for pivot table"
      operationId: "CellsPivotTables_PostPivotTableCellStyle"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pivotTableIndex"
        in: "path"
        description: "Pivot table index"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PivotTableIndex"
      - name: "column"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Column"
      - name: "row"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "Row"
      - in: "body"
        name: "style"
        description: "Style dto in request body."
        required: false
        schema:
          $ref: "#/definitions/Style"
        x-nullable: true
        x-exportParamName: "Style"
      - name: "needReCalculate"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-nullable: false
        x-exportParamName: "NeedReCalculate"
        x-optionalDataType: "Bool"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPivotTables_PostPivotTableCellStyle"
  /cells/{name}/worksheets/{sheetName}/autoFilter/matchNonBlanks:
    post:
      tags:
      - "Cells"
      summary: "Match all not blank cell in the list.\n            "
      operationId: "CellsAutoFilter_PostWorksheetMatchNonBlanks"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "fieldIndex"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FieldIndex"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsAutoFilter_PostWorksheetMatchNonBlanks"
  /cells/{name}/worksheets/{sheetName}/listobjects/{listObjectIndex}/sort:
    post:
      tags:
      - "Cells"
      operationId: "CellsListObjects_PostWorksheetListObjectSortTable"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "listObjectIndex"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "ListObjectIndex"
      - in: "body"
        name: "dataSorter"
        required: false
        schema:
          $ref: "#/definitions/DataSorter"
        x-nullable: true
        x-exportParamName: "DataSorter"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsListObjects_PostWorksheetListObjectSortTable"
  /cells/{name}/worksheets/{sheetName}/autoFilter/matchBlanks:
    post:
      tags:
      - "Cells"
      summary: "Match all blank cell in the list."
      operationId: "CellsAutoFilter_PostWorksheetMatchBlanks"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "fieldIndex"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FieldIndex"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsAutoFilter_PostWorksheetMatchBlanks"
  /cells/{name}/worksheets/{sheetName}/cells/rows/group:
    post:
      tags:
      - "Cells"
      summary: "Group worksheet rows."
      operationId: "Cells_PostGroupWorksheetRows"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "firstIndex"
        in: "query"
        description: "The first row index to be operated."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FirstIndex"
      - name: "lastIndex"
        in: "query"
        description: "The last row index to be operated."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "LastIndex"
      - name: "hide"
        in: "query"
        description: "rows visible state"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "Hide"
        x-optionalDataType: "Bool"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostGroupWorksheetRows"
  /cells/{name}/worksheets/{sheetName}/charts/{chartIndex}/chartArea:
    get:
      tags:
      - "Cells"
      summary: "Get chart area info."
      operationId: "CellsChartArea_GetChartArea"
      parameters:
      - name: "name"
        in: "path"
        description: "Workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "chartIndex"
        in: "path"
        description: "The chart index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "ChartIndex"
      - name: "folder"
        in: "query"
        description: "Workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with the area data."
          schema:
            $ref: "#/definitions/ChartAreaResponse"
          x-nullable: true
      x-operationId: "CellsChartArea_GetChartArea"
  /cells/{name}/worksheets/{sheetName}/pivottables/{pivotTableIndex}/Move:
    post:
      tags:
      - "Cells"
      operationId: "CellsPivotTables_PostWorksheetPivotTableMove"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pivotTableIndex"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PivotTableIndex"
      - name: "row"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "Row"
        x-optionalDataType: "Int64"
      - name: "column"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "Column"
        x-optionalDataType: "Int64"
      - name: "destCellName"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "DestCellName"
        x-optionalDataType: "String"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPivotTables_PostWorksheetPivotTableMove"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/style:
    get:
      tags:
      - "Cells"
      summary: "Read cell's style info."
      operationId: "Cells_GetWorksheetCellStyle"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "cellName"
        in: "path"
        description: "Cell's name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "CellName"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with cell's style data."
          schema:
            $ref: "#/definitions/StyleResponse"
          x-nullable: true
      x-operationId: "Cells_GetWorksheetCellStyle"
    post:
      tags:
      - "Cells"
      summary: "Update cell's style."
      operationId: "Cells_PostUpdateWorksheetCellStyle"
      parameters:
      - name: "name"
        in: "path"
        description: "Workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "cellName"
        in: "path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "CellName"
      - in: "body"
        name: "style"
        description: "with update style settings."
        required: false
        schema:
          $ref: "#/definitions/Style"
        x-nullable: true
        x-exportParamName: "Style"
      - name: "folder"
        in: "query"
        description: "The workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with style updated data."
          schema:
            $ref: "#/definitions/StyleResponse"
          x-nullable: true
      x-operationId: "Cells_PostUpdateWorksheetCellStyle"
  /cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}/style:
    post:
      tags:
      - "Cells"
      summary: "Set row style."
      operationId: "Cells_PostRowStyle"
      parameters:
      - name: "name"
        in: "path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "rowIndex"
        in: "path"
        description: "The row index."
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "RowIndex"
      - in: "body"
        name: "style"
        description: "Style dto"
        required: false
        schema:
          $ref: "#/definitions/Style"
        x-nullable: true
        x-exportParamName: "Style"
      - name: "folder"
        in: "query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostRowStyle"
  /cells/{name}/worksheets/{sheetName}/findText:
    post:
      tags:
      - "Cells"
      summary: "Search text."
      operationId: "CellsWorksheets_PostWorksheetTextSearch"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "text"
        in: "query"
        description: "Text to search."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "Text"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with find data."
          schema:
            $ref: "#/definitions/TextItemsResponse"
          x-nullable: true
      x-operationId: "CellsWorksheets_PostWorksheetTextSearch"
  /cells/{name}/worksheets/{sheetName}/autoFilter:
    get:
      tags:
      - "Cells"
      summary: "Get Auto filter Description"
      operationId: "CellsAutoFilter_GetWorksheetAutoFilter"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/AutoFilterResponse"
          x-nullable: true
      x-operationId: "CellsAutoFilter_GetWorksheetAutoFilter"
  /cells/{name}/worksheets/{sheetName}/pivottables/{pivotTableIndex}/PivotFilters/{fieldIndex}:
    delete:
      tags:
      - "Cells"
      summary: "delete  pivot filter for piovt table\n            "
      operationId: "CellsPivotTables_DeleteWorksheetPivotTableFilter"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pivotTableIndex"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PivotTableIndex"
      - name: "fieldIndex"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "FieldIndex"
      - name: "needReCalculate"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-nullable: false
        x-exportParamName: "NeedReCalculate"
        x-optionalDataType: "Bool"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsPivotTables_DeleteWorksheetPivotTableFilter"
  /cells/{name}/worksheets/{sheetName}/cells/clearformats:
    post:
      tags:
      - "Cells"
      summary: "Clear cells contents."
      operationId: "Cells_PostClearFormats"
      parameters:
      - name: "name"
        in: "path"
        description: "Workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "range"
        in: "query"
        description: "The range."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Range_"
        x-optionalDataType: "String"
      - name: "startRow"
        in: "query"
        description: "The start row."
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "StartRow"
        x-optionalDataType: "Int64"
      - name: "startColumn"
        in: "query"
        description: "The start column."
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "StartColumn"
        x-optionalDataType: "Int64"
      - name: "endRow"
        in: "query"
        description: "The end row."
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "EndRow"
        x-optionalDataType: "Int64"
      - name: "endColumn"
        in: "query"
        description: "The end column."
        required: false
        type: "integer"
        format: "int64"
        x-nullable: true
        x-exportParamName: "EndColumn"
        x-optionalDataType: "Int64"
      - name: "folder"
        in: "query"
        description: "The workbook folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with style updated data."
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "Cells_PostClearFormats"
  /cells/{name}/worksheets/{sheetName}/conditionalFormattings:
    get:
      tags:
      - "Cells"
      summary: "Get conditional formattings "
      operationId: "CellsConditionalFormattings_GetWorksheetConditionalFormattings"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/ConditionalFormattingsResponse"
          x-nullable: true
      x-operationId: "CellsConditionalFormattings_GetWorksheetConditionalFormattings"
    put:
      tags:
      - "Cells"
      summary: "Add a condition formatting."
      operationId: "CellsConditionalFormattings_PutWorksheetConditionalFormatting"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - in: "body"
        name: "formatCondition"
        required: false
        schema:
          $ref: "#/definitions/FormatCondition"
        x-nullable: true
        x-exportParamName: "FormatCondition"
      - name: "cellArea"
        in: "query"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "CellArea"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsConditionalFormattings_PutWorksheetConditionalFormatting"
    delete:
      tags:
      - "Cells"
      summary: "Clear all condition formattings"
      operationId: "CellsConditionalFormattings_DeleteWorksheetConditionalFormattings"
      parameters:
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "folder"
        in: "query"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: ""
          schema:
            $ref: "#/definitions/CellsCloudResponse"
          x-nullable: true
      x-operationId: "CellsConditionalFormattings_DeleteWorksheetConditionalFormattings"
  /cells/{name}/worksheets/{sheetName}/pivottables/{pivottableIndex}:
    get:
      tags:
      - "Cells"
      summary: "Get worksheet pivottable info by index."
      operationId: "CellsPivotTables_GetWorksheetPivotTable"
      parameters:
      - name: "name"
        in: "path"
        description: "Document name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "Name"
      - name: "sheetName"
        in: "path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "SheetName"
      - name: "pivottableIndex"
        in: "path"
        required: true
        type: "integer"
        format: "int64"
        x-nullable: false
        x-exportParamName: "PivottableIndex"
      - name: "folder"
        in: "query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "Folder"
        x-optionalDataType: "String"
      - name: "storageName"
        in: "query"
        description: "storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "StorageName"
        x-optionalDataType: "String"
      responses:
        200:
          description: "with common pivottables info."
          schema:
            $ref: "#/definitions/PivotTableResponse"
          x-nullable: true
      x-operationId: "CellsPivotTables_GetWorksheetPivotTable"
  /cells/{name}/worksheets/{sheetName}/validations:
    get:
      tags:
      - "Cells"
      summary: "Get worksheet validations."
[...]
