---
swagger: "2.0"
info:
  version: "24.11"
  title: "Aspose.Cells Cloud APIs."
host: "api.aspose.cloud"
basePath: "/v3.0"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /cells/analyze:
    post:
      tags:
      - "Cells"
      summary: "Perform business analysis of data in Excel files."
      operationId: "PostAnalyzeExcel"
      parameters:
      - name: "analyzeexcelrequest"
        in: "Body"
        description: "Excel files and analysis output requirements"
        required: true
        type: "class:analyzeexcelrequest"
        x-nullable: true
        x-exportParamName: "analyzeExcelRequest"
  /cells/{name}/worksheets/{sheetName}/autoFilter:
    get:
      tags:
      - "Cells"
      summary: "Retrieve the description of auto filters from a worksheet."
      operationId: "GetWorksheetAutoFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/dateFilter:
    put:
      tags:
      - "Cells"
      summary: "Apply a date filter in the worksheet."
      operationId: "PutWorksheetDateFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "datetimegroupingtype"
        in: "Query"
        description: "Specifies how to group dateTime values (Day, Hour, Minute, Month, Second, Year)."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "dateTimeGroupingType"
      - name: "year"
        in: "Query"
        description: "The year."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "year"
      - name: "month"
        in: "Query"
        description: "The month."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "month"
      - name: "day"
        in: "Query"
        description: "The day."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "day"
      - name: "hour"
        in: "Query"
        description: "The hour."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "hour"
      - name: "minute"
        in: "Query"
        description: "The minute."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "minute"
      - name: "second"
        in: "Query"
        description: "The second."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "second"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/filter:
    put:
      tags:
      - "Cells"
      summary: "Add a filter for a column in the worksheet."
      operationId: "PutWorksheetFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "criteria"
        in: "Query"
        description: "The custom criteria."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "criteria"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/iconFilter:
    put:
      tags:
      - "Cells"
      summary: "Add an icon filter in the worksheet."
      operationId: "PutWorksheetIconFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "iconsettype"
        in: "Query"
        description: "The icon set type."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "iconSetType"
      - name: "iconid"
        in: "Query"
        description: "The icon id."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "iconId"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/custom:
    put:
      tags:
      - "Cells"
      summary: "Filter a list with custom criteria in the worksheet."
      operationId: "PutWorksheetCustomFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "operatortype1"
        in: "Query"
        description: "The filter operator type"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "operatorType1"
      - name: "criteria1"
        in: "Query"
        description: "The custom criteria."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "criteria1"
      - name: "isand"
        in: "Query"
        description: "true/false"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "isAnd"
      - name: "operatortype2"
        in: "Query"
        description: ""
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "operatorType2"
      - name: "criteria2"
        in: "Query"
        description: "The custom criteria."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "criteria2"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/dynamicFilter:
    put:
      tags:
      - "Cells"
      summary: "Add a dynamic filter in the worksheet."
      operationId: "PutWorksheetDynamicFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "dynamicfiltertype"
        in: "Query"
        description: "Dynamic filter type."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "dynamicFilterType"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/filterTop10:
    put:
      tags:
      - "Cells"
      summary: "Filter the top 10 items in the list in the worksheet."
      operationId: "PutWorksheetFilterTop10"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "istop"
        in: "Query"
        description: "Indicates whether filter from top or bottom"
        required: true
        type: "boolean"
        x-nullable: true
        x-exportParamName: "isTop"
      - name: "ispercent"
        in: "Query"
        description: "Indicates whether the items is percent or count"
        required: true
        type: "boolean"
        x-nullable: true
        x-exportParamName: "isPercent"
      - name: "itemcount"
        in: "Query"
        description: "The item count"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "itemCount"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/colorFilter:
    put:
      tags:
      - "Cells"
      summary: "Add a color filter in the worksheet."
      operationId: "PutWorksheetColorFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified AutoFilter applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "colorfilter"
        in: "Body"
        description: "color filter request."
        required: true
        type: "class:colorfilterrequest"
        x-nullable: true
        x-exportParamName: "colorFilter"
      - name: "matchblanks"
        in: "Query"
        description: "Match all blank cell in the list."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "matchBlanks"
      - name: "refresh"
        in: "Query"
        description: "Refresh auto filters to hide or unhide the rows."
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "refresh"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/matchBlanks:
    post:
      tags:
      - "Cells"
      summary: "Match all blank cells in the list."
      operationId: "PostWorksheetMatchBlanks"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/matchNonBlanks:
    post:
      tags:
      - "Cells"
      summary: "Match all not blank cells in the list."
      operationId: "PostWorksheetMatchNonBlanks"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/refresh:
    post:
      tags:
      - "Cells"
      summary: "Refresh auto filters in the worksheet."
      operationId: "PostWorksheetAutoFilterRefresh"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/dateFilter:
    delete:
      tags:
      - "Cells"
      summary: "Remove a date filter in the worksheet."
      operationId: "DeleteWorksheetDateFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "datetimegroupingtype"
        in: "Query"
        description: "Specifies how to group dateTime values."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "dateTimeGroupingType"
      - name: "year"
        in: "Query"
        description: "The year."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "year"
      - name: "month"
        in: "Query"
        description: "The month."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "month"
      - name: "day"
        in: "Query"
        description: "The day."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "day"
      - name: "hour"
        in: "Query"
        description: "The hour."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "hour"
      - name: "minute"
        in: "Query"
        description: "The minute."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "minute"
      - name: "second"
        in: "Query"
        description: "The second."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "second"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoFilter/filter:
    delete:
      tags:
      - "Cells"
      summary: "Delete a filter for a column in the worksheet."
      operationId: "DeleteWorksheetFilter"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "fieldindex"
        in: "Query"
        description: "The integer offset of the field on which you want to base the filter (from the left of the list; the leftmost field is field 0)."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "fieldIndex"
      - name: "criteria"
        in: "Query"
        description: "The custom criteria."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "criteria"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoshapes:
    get:
      tags:
      - "Cells"
      summary: "Get autoshapes description in worksheet."
      operationId: "GetWorksheetAutoshapes"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "folder"
        in: "Query"
        description: "Document's folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "Storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/autoshapes/{autoshapeNumber}:
    get:
      tags:
      - "Cells"
      summary: "Get autoshape description in some format."
      operationId: "GetWorksheetAutoshapeWithFormat"
      parameters:
      - name: "name"
        in: "Path"
        description: "The workbook name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "Worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "autoshapenumber"
        in: "Path"
        description: "The autoshape number."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "autoshapeNumber"
      - name: "format"
        in: "Query"
        description: "Autoshape conversion format."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "format"
      - name: "folder"
        in: "Query"
        description: "The document folder."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "Storage name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/batch/convert:
    post:
      tags:
      - "Cells"
      summary: "Batch converting files that meet specific matching conditions."
      operationId: "PostBatchConvert"
      parameters:
      - name: "batchconvertrequest"
        in: "Body"
        description: "BatchConvertRequest Batch conversion file request. "
        required: true
        type: "class:batchconvertrequest"
        x-nullable: true
        x-exportParamName: "batchConvertRequest"
  /cells/batch/protect:
    post:
      tags:
      - "Cells"
      summary: "Batch protecting files that meet specific matching conditions."
      operationId: "PostBatchProtect"
      parameters:
      - name: "batchprotectrequest"
        in: "Body"
        description: "BatchProtectRequest Batch protection file request.  "
        required: true
        type: "class:batchprotectrequest"
        x-nullable: true
        x-exportParamName: "batchProtectRequest"
  /cells/batch/lock:
    post:
      tags:
      - "Cells"
      summary: "Batch locking files that meet specific matching conditions."
      operationId: "PostBatchLock"
      parameters:
      - name: "batchlockrequest"
        in: "Body"
        description: "BatchLockRequest Batch locking file request.  "
        required: true
        type: "class:batchlockrequest"
        x-nullable: true
        x-exportParamName: "batchLockRequest"
  /cells/batch/unlock:
    post:
      tags:
      - "Cells"
      summary: "Batch unlocking files that meet specific matching conditions."
      operationId: "PostBatchUnlock"
      parameters:
      - name: "batchlockrequest"
        in: "Body"
        description: "BatchLockRequest Batch locking file request.  "
        required: true
        type: "class:batchlockrequest"
        x-nullable: true
        x-exportParamName: "batchLockRequest"
  /cells/batch/split:
    post:
      tags:
      - "Cells"
      summary: "Batch splitting files that meet specific matching conditions."
      operationId: "PostBatchSplit"
      parameters:
      - name: "batchsplitrequest"
        in: "Body"
        description: "BatchSplitRequest Batch splitting file request.  "
        required: true
        type: "class:batchsplitrequest"
        x-nullable: true
        x-exportParamName: "batchSplitRequest"
  /cells/connect/token:
    post:
      tags:
      - "Cells"
      summary: "Get Access Token Result"
      operationId: "PostAccessToken"
      parameters:

  /cells/{name}/worksheets/{sheetName}/cells/clearcontents:
    post:
      tags:
      - "Cells"
      summary: "Clear cell area contents in the worksheet."
      operationId: "PostClearContents"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified cells applies."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "startrow"
        in: "Query"
        description: "The start row index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "startRow"
      - name: "startcolumn"
        in: "Query"
        description: "The start column index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "startColumn"
      - name: "endrow"
        in: "Query"
        description: "The end row index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "endRow"
      - name: "endcolumn"
        in: "Query"
        description: "The end column index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "endColumn"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/clearformats:
    post:
      tags:
      - "Cells"
      summary: "Clear cell formats in the worksheet."
      operationId: "PostClearFormats"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified cells applies."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "startrow"
        in: "Query"
        description: "The start row index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "startRow"
      - name: "startcolumn"
        in: "Query"
        description: "The start column index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "startColumn"
      - name: "endrow"
        in: "Query"
        description: "The end row index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "endRow"
      - name: "endcolumn"
        in: "Query"
        description: "The end column index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "endColumn"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/style:
    post:
      tags:
      - "Cells"
      summary: "Update cell range styles in the worksheet."
      operationId: "PostUpdateWorksheetRangeStyle"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "range"
        in: "Query"
        description: "Represents the range to which the specified cells applies."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "range"
      - name: "style"
        in: "Body"
        description: "Style with update style settings."
        required: true
        type: "class:style"
        x-nullable: true
        x-exportParamName: "style"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/merge:
    post:
      tags:
      - "Cells"
      summary: "Merge cells in the worksheet."
      operationId: "PostWorksheetMerge"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startrow"
        in: "Query"
        description: "The start row index."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startRow"
      - name: "startcolumn"
        in: "Query"
        description: "The start column index."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startColumn"
      - name: "totalrows"
        in: "Query"
        description: "The total rows number."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalRows"
      - name: "totalcolumns"
        in: "Query"
        description: "The total columns number."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalColumns"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/unmerge:
    post:
      tags:
      - "Cells"
      summary: "Unmerge cells in the worksheet."
      operationId: "PostWorksheetUnmerge"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startrow"
        in: "Query"
        description: "The start row index."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startRow"
      - name: "startcolumn"
        in: "Query"
        description: "The start column index."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startColumn"
      - name: "totalrows"
        in: "Query"
        description: "The total rows number."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalRows"
      - name: "totalcolumns"
        in: "Query"
        description: "The total columns number."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalColumns"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells:
    get:
      tags:
      - "Cells"
      summary: "Retrieve cell descriptions in a specified format."
      operationId: "GetWorksheetCells"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "offest"
        in: "Query"
        description: "Begginig offset."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "offest"
      - name: "count"
        in: "Query"
        description: "Maximum amount of cells in the response."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "count"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellOrMethodName}:
    get:
      tags:
      - "Cells"
      summary: "Retrieve cell data using either cell reference or method name in the worksheet."
      operationId: "GetWorksheetCell"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellormethodname"
        in: "Path"
        description: "The cell's or method name. (Method name like firstcell, endcell etc.)"
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellOrMethodName"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/style:
    get:
      tags:
      - "Cells"
      summary: "Retrieve cell style descriptions in the worksheet."
      operationId: "GetWorksheetCellStyle"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "Cell's name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}:
    post:
      tags:
      - "Cells"
      summary: "Set cell value using cell name in the worksheet."
      operationId: "PostWorksheetCellSetValue"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "value"
        in: "Query"
        description: "The cell value."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "value"
      - name: "type"
        in: "Query"
        description: "The value type."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "type"
      - name: "formula"
        in: "Query"
        description: "Formula for cell"
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "formula"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/style:
    post:
      tags:
      - "Cells"
      summary: "Set cell style using cell name in the worksheet."
      operationId: "PostUpdateWorksheetCellStyle"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "style"
        in: "Body"
        description: "Style with update style settings."
        required: true
        type: "class:style"
        x-nullable: true
        x-exportParamName: "style"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells:
    post:
      tags:
      - "Cells"
      summary: "Set the value of the range in the worksheet."
      operationId: "PostSetCellRangeValue"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellarea"
        in: "Query"
        description: "Cell area (like "A1:C2")"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "cellarea"
      - name: "value"
        in: "Query"
        description: "Range value"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "value"
      - name: "type"
        in: "Query"
        description: "Value data type (like "int")"
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "type"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{destCellName}/copy:
    post:
      tags:
      - "Cells"
      summary: "Copy data from a source cell to a destination cell in the worksheet."
      operationId: "PostCopyCellIntoCell"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "destcellname"
        in: "Path"
        description: "The destination cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "destCellName"
      - name: "sheetname"
        in: "Path"
        description: "The destination worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "worksheet"
        in: "Query"
        description: "The source worksheet name."
        required: true
        type: "string"
        x-nullable: true
        x-exportParamName: "worksheet"
      - name: "cellname"
        in: "Query"
        description: "The source cell name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "cellname"
      - name: "row"
        in: "Query"
        description: "The source row index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "row"
      - name: "column"
        in: "Query"
        description: "The source column index."
        required: false
        type: "integer"
        x-nullable: true
        x-exportParamName: "column"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/htmlstring:
    get:
      tags:
      - "Cells"
      summary: "Retrieve the HTML string containing data and specific formats in this cell."
      operationId: "GetCellHtmlString"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/htmlstring:
    post:
      tags:
      - "Cells"
      summary: "Set the HTML string containing data and specific formats in this cell."
      operationId: "PostSetCellHtmlString"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/calculate:
    post:
      tags:
      - "Cells"
      summary: "Calculate cell formula in the worksheet."
      operationId: "PostCellCalculate"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "options"
        in: "Body"
        description: "Calculation Options"
        required: false
        type: "class:calculationoptions"
        x-nullable: true
        x-exportParamName: "options"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/{cellName}/characters:
    post:
      tags:
      - "Cells"
      summary: "Set cell characters in the worksheet."
      operationId: "PostCellCharacters"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "cellname"
        in: "Path"
        description: "The cell name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "cellName"
      - name: "options"
        in: "Body"
        description: ""
        required: false
        type: "container"
        x-nullable: true
        x-exportParamName: "options"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/:
    get:
      tags:
      - "Cells"
      summary: "Retrieve descriptions of worksheet columns."
      operationId: "GetWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: false
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: false
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "offset"
        in: "Query"
        description: "The workdook folder."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "offset"
      - name: "count"
        in: "Query"
        description: ""
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "count"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}:
    post:
      tags:
      - "Cells"
      summary: "Set worksheet column width."
      operationId: "PostSetWorksheetColumnWidth"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "columnindex"
        in: "Path"
        description: "The column index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "columnIndex"
      - name: "width"
        in: "Query"
        description: "Gets and sets the column width in unit of characters."
        required: true
        type: "floating"
        x-nullable: true
        x-exportParamName: "width"
      - name: "count"
        in: "Query"
        description: ""
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "count"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}:
    get:
      tags:
      - "Cells"
      summary: "Retrieve worksheet column data by column index."
      operationId: "GetWorksheetColumn"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "columnindex"
        in: "Path"
        description: "The column index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "columnIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}:
    put:
      tags:
      - "Cells"
      summary: "Insert worksheet columns in the worksheet."
      operationId: "PutInsertWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "columnindex"
        in: "Path"
        description: "The column index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "columnIndex"
      - name: "columns"
        in: "Query"
        description: "The number of columns."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "columns"
      - name: "updatereference"
        in: "Query"
        description: "Indicates if references in other worksheets will be updated."
        required: false
        type: "boolean"
        x-nullable: false
        x-exportParamName: "updateReference"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}:
    delete:
      tags:
      - "Cells"
      summary: "Delete worksheet columns in the worksheet."
      operationId: "DeleteWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "columnindex"
        in: "Path"
        description: "The column index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "columnIndex"
      - name: "columns"
        in: "Query"
        description: "The number of columns."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "columns"
      - name: "updatereference"
        in: "Query"
        description: "Indicates if references in other worksheets will be updated."
        required: true
        type: "boolean"
        x-nullable: true
        x-exportParamName: "updateReference"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/hide:
    post:
      tags:
      - "Cells"
      summary: "Hide worksheet columns in the worksheet."
      operationId: "PostHideWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startcolumn"
        in: "Query"
        description: "The begin column index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startColumn"
      - name: "totalcolumns"
        in: "Query"
        description: "Number of columns to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalColumns"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/unhide:
    post:
      tags:
      - "Cells"
      summary: "Unhide worksheet columns in the worksheet."
      operationId: "PostUnhideWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startcolumn"
        in: "Query"
        description: "The begin column index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startColumn"
      - name: "totalcolumns"
        in: "Query"
        description: "Number of columns to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalColumns"
      - name: "width"
        in: "Query"
        description: "Gets and sets the column width in unit of characters."
        required: false
        type: "floating"
        x-nullable: false
        x-exportParamName: "width"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/group:
    post:
      tags:
      - "Cells"
      summary: "Group worksheet columns in the worksheet."
      operationId: "PostGroupWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "firstindex"
        in: "Query"
        description: "The first column index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "firstIndex"
      - name: "lastindex"
        in: "Query"
        description: "The last column index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "lastIndex"
      - name: "hide"
        in: "Query"
        description: "columns visible state"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "hide"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/ungroup:
    post:
      tags:
      - "Cells"
      summary: "Ungroup worksheet columns."
      operationId: "PostUngroupWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "firstindex"
        in: "Query"
        description: "The first column index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "firstIndex"
      - name: "lastindex"
        in: "Query"
        description: "The last column index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "lastIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/copy:
    post:
      tags:
      - "Cells"
      summary: "Copy data from source columns to destination columns in the worksheet."
      operationId: "PostCopyWorksheetColumns"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "sourcecolumnindex"
        in: "Query"
        description: "Source column index"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "sourceColumnIndex"
      - name: "destinationcolumnindex"
        in: "Query"
        description: "Destination column index"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "destinationColumnIndex"
      - name: "columnnumber"
        in: "Query"
        description: "The copied column number"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "columnNumber"
      - name: "worksheet"
        in: "Query"
        description: "The destination worksheet name."
        required: false
        type: "string"
        x-nullable: false
        x-exportParamName: "worksheet"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/columns/{columnIndex}/style:
    post:
      tags:
      - "Cells"
      summary: "Set column style in the worksheet."
      operationId: "PostColumnStyle"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "columnindex"
        in: "Path"
        description: "The column index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "columnIndex"
      - name: "style"
        in: "Body"
        description: "Represents display style of excel document,such as font,color,alignment,border,etc."
        required: true
        type: "class:style"
        x-nullable: true
        x-exportParamName: "style"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/:
    get:
      tags:
      - "Cells"
      summary: "Retrieve descriptions of rows in the worksheet."
      operationId: "GetWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "offset"
        in: "Query"
        description: "Row offset."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "offset"
      - name: "count"
        in: "Query"
        description: "Display rows number."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "count"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}:
    get:
      tags:
      - "Cells"
      summary: "Retrieve row data by the row's index in the worksheet."
      operationId: "GetWorksheetRow"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "rowindex"
        in: "Path"
        description: "The row index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "rowIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}:
    delete:
      tags:
      - "Cells"
      summary: "Delete a row in the worksheet."
      operationId: "DeleteWorksheetRow"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "rowindex"
        in: "Path"
        description: "The row index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "rowIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/:
    delete:
      tags:
      - "Cells"
      summary: "Delete several rows in the worksheet."
      operationId: "DeleteWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startrow"
        in: "Query"
        description: "The begin row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startrow"
      - name: "totalrows"
        in: "Query"
        description: "Number of rows to be operated."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "totalRows"
      - name: "updatereference"
        in: "Query"
        description: "Indicates if update references in other worksheets."
        required: false
        type: "boolean"
        x-nullable: false
        x-exportParamName: "updateReference"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/:
    put:
      tags:
      - "Cells"
      summary: "Insert several new rows in the worksheet."
      operationId: "PutInsertWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startrow"
        in: "Query"
        description: "The begin row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startrow"
      - name: "totalrows"
        in: "Query"
        description: "Number of rows to be operated."
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "totalRows"
      - name: "updatereference"
        in: "Query"
        description: "Indicates if update references in other worksheets."
        required: false
        type: "boolean"
        x-nullable: false
        x-exportParamName: "updateReference"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}:
    put:
      tags:
      - "Cells"
      summary: "Insert a new row in the worksheet."
      operationId: "PutInsertWorksheetRow"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "rowindex"
        in: "Path"
        description: "The new row index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "rowIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}:
    post:
      tags:
      - "Cells"
      summary: "Update height of rows in the worksheet."
      operationId: "PostUpdateWorksheetRow"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "rowindex"
        in: "Path"
        description: "The row index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "rowIndex"
      - name: "height"
        in: "Query"
        description: "The new row height."
        required: false
        type: "floating"
        x-nullable: false
        x-exportParamName: "height"
      - name: "count"
        in: "Query"
        description: ""
        required: false
        type: "integer"
        x-nullable: false
        x-exportParamName: "count"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/hide:
    post:
      tags:
      - "Cells"
      summary: "Hide rows in worksheet."
      operationId: "PostHideWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startrow"
        in: "Query"
        description: "The begin row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startrow"
      - name: "totalrows"
        in: "Query"
        description: "Number of rows to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalRows"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/unhide:
    post:
      tags:
      - "Cells"
      summary: "Unhide rows in the worksheet."
      operationId: "PostUnhideWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "startrow"
        in: "Query"
        description: "The begin row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "startrow"
      - name: "totalrows"
        in: "Query"
        description: "Number of rows to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "totalRows"
      - name: "height"
        in: "Query"
        description: "The new row height."
        required: false
        type: "floating"
        x-nullable: false
        x-exportParamName: "height"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/group:
    post:
      tags:
      - "Cells"
      summary: "Group rows in the worksheet."
      operationId: "PostGroupWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "firstindex"
        in: "Query"
        description: "The first row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "firstIndex"
      - name: "lastindex"
        in: "Query"
        description: "The last row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "lastIndex"
      - name: "hide"
        in: "Query"
        description: "rows visible state"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "hide"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/ungroup:
    post:
      tags:
      - "Cells"
      summary: "Ungroup rows in the worksheet."
      operationId: "PostUngroupWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "firstindex"
        in: "Query"
        description: "The first row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "firstIndex"
      - name: "lastindex"
        in: "Query"
        description: "The last row index to be operated."
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "lastIndex"
      - name: "isall"
        in: "Query"
        description: "Is all row to be operated"
        required: false
        type: "boolean"
        x-nullable: true
        x-exportParamName: "isAll"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/copy:
    post:
      tags:
      - "Cells"
      summary: "Copy data and formats from specific entire rows in the worksheet."
      operationId: "PostCopyWorksheetRows"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "sourcerowindex"
        in: "Query"
        description: "Source row index"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "sourceRowIndex"
      - name: "destinationrowindex"
        in: "Query"
        description: "Destination row index"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "destinationRowIndex"
      - name: "rownumber"
        in: "Query"
        description: "The copied row number"
        required: true
        type: "integer"
        x-nullable: true
        x-exportParamName: "rowNumber"
      - name: "worksheet"
        in: "Query"
        description: "The worksheet name."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "worksheet"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/cells/rows/{rowIndex}/style:
    post:
      tags:
      - "Cells"
      summary: "Apply formats to an entire row in the worksheet."
      operationId: "PostRowStyle"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "rowindex"
        in: "Path"
        description: "The row index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "rowIndex"
      - name: "style"
        in: "Body"
        description: "Style description."
        required: true
        type: "class:style"
        x-nullable: true
        x-exportParamName: "style"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells:
    get:
      tags:
      - "Cells"
      summary: "Retrieve cell descriptions in a specified format."
      operationId: "GetCellsCloudServicesHealthCheck"
      parameters:

  /cells/status/check:
    get:
      tags:
      - "Cells"
      summary: "Aspose.Cells Cloud service health status check."
      operationId: "GetCellsCloudServiceStatus"
      parameters:

  /cells/{name}/worksheets/{sheetName}/charts/{chartIndex}/chartArea:
    get:
      tags:
      - "Cells"
      summary: "Retrieve chart area description in the worksheet."
      operationId: "GetChartArea"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "chartindex"
        in: "Path"
        description: "The chart index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "chartIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/charts/{chartIndex}/chartArea/fillFormat:
    get:
      tags:
      - "Cells"
      summary: "Retrieve chart area fill format description in the worksheet."
      operationId: "GetChartAreaFillFormat"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "chartindex"
        in: "Path"
        description: "The chart index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "chartIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "folder"
      - name: "storagename"
        in: "Query"
        description: "The storage name where the file is situated."
        required: false
        type: "string"
        x-nullable: true
        x-exportParamName: "storageName"
  /cells/{name}/worksheets/{sheetName}/charts/{chartIndex}/chartArea/border:
    get:
      tags:
      - "Cells"
      summary: "Retrieve chart area border description."
      operationId: "GetChartAreaBorder"
      parameters:
      - name: "name"
        in: "Path"
        description: "The file name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "name"
      - name: "sheetname"
        in: "Path"
        description: "The worksheet name."
        required: true
        type: "string"
        x-nullable: false
        x-exportParamName: "sheetName"
      - name: "chartindex"
        in: "Path"
        description: "The chart index."
        required: true
        type: "integer"
        x-nullable: false
        x-exportParamName: "chartIndex"
      - name: "folder"
        in: "Query"
        description: "The folder where the file is situated."
        required: false
        type: "string"
        x-nullable: true
[...]
